<goab-button (onClick)="onClick()"> Show Modal </goab-button>
<goab-modal
  calloutVariant="information"
  [open]="open" [closable]="true"
  (onClose)="onClose()"
>
  <h1>Terms of Use</h1>
  <h4>Government of Alberta Alberta.ca Account</h4>
  <p>
    Need help building a government service? Join design system drop in hours to get
    feedback on your service, propose new components or patterns, suggest changes to
    existing resources, ask questions, and give feedback to the design system. These
    sessions are for Government of Alberta product teams.
  </p>
  <p>
    Need help building a government service? Join design system drop in hours to get
    feedback on your service, propose new components or patterns, suggest changes to
    existing resources, ask questions, and give feedback to the design system. These
    sessions are for Government of Alberta product teams.
  </p>
  <p>
    Need help building a government service? Join design system drop in hours to get
    feedback on your service, propose new components or patterns, suggest changes to
    existing resources, ask questions, and give feedback to the design system. These
    sessions are for Government of Alberta product teams.
  </p>
  <p>
    Need help building a government service? Join design system drop in hours to get
    feedback on your service, propose new components or patterns, suggest changes to
    existing resources, ask questions, and give feedback to the design system. These
    sessions are for Government of Alberta product teams.
  </p>
  <p>
    Need help building a government service? Join design system drop in hours to get
    feedback on your service, propose new components or patterns, suggest changes to
    existing resources, ask questions, and give feedback to the design system. These
    sessions are for Government of Alberta product teams.
  </p>
  <p>
    Need help building a government service? Join design system drop in hours to get
    feedback on your service, propose new components or patterns, suggest changes to
    existing resources, ask questions, and give feedback to the design system. These
    sessions are for Government of Alberta product teams.
  </p>
  <goab-button-group alignment="end" mt="l">
    <goab-button type="primary" (onClick)="onClose()"> I understand </goab-button>
  </goab-button-group>
</goab-modal>
