<goab-form-item label="100%">
  <goab-date-picker
    (onChange)="dateOnChange($event)"
    name="item"
    [value]="item"
    width="100%"
  ></goab-date-picker>
</goab-form-item>
<goab-form-item label="Input with 100%">
  <goab-input
    name="item"
    [value]="value"
    width="100%"
    (onChange)="inputOnChange($event)"
  ></goab-input>
</goab-form-item>

<goab-form-item label="50ch">
  <goab-date-picker
    (onChange)="dateOnChange($event)"
    name="item"
    [value]="item"
    width="50ch"
  ></goab-date-picker>
</goab-form-item>
<goab-form-item label="Input with 50ch">
  <goab-input
    name="item"
    [value]="value"
    width="50ch"
    (onChange)="inputOnChange($event)"
  ></goab-input>
</goab-form-item>

<goab-form-item label="50px">
  <goab-date-picker
    (onChange)="dateOnChange($event)"
    name="item"
    [value]="item"
    width="50px"
  ></goab-date-picker>
</goab-form-item>
<goab-form-item label="Input with 50px">
  <goab-input
    name="item"
    [value]="value"
    width="50px"
    (onChange)="inputOnChange($event)"
  ></goab-input>
</goab-form-item>




<div style="margin-bottom: 50px">
  <h1>Testing #1813</h1>
  <goab-form-item label="100 %">
    <goab-date-picker width="100%" />
  </goab-form-item>
  <goab-form-item label="Input 100%">
    <goab-input width="100%" />
  </goab-form-item>
  <goab-form-item label="100ch">
    <goab-date-picker width="100ch" />
  </goab-form-item>
  <goab-form-item label="Input 100ch">
    <goab-input width="100ch" />
  </goab-form-item>
  <goab-form-item label="100px">
    <goab-date-picker width="100px" />
  </goab-form-item>
  <goab-form-item label="Input 100px">
    <goab-input width="100px" />
  </goab-form-item>
</div>
