<goab-form-item label="100%">
  <goab-date-picker
    (onChange)="dateOnChange($event)"
    name="item"
    [value]="item"
    width="100%"
  ></goab-date-picker>
</goab-form-item>
<goab-form-item label="Input with 100%">
  <goab-input
    name="item"
    [value]="value"
    width="100%"
    (onChange)="inputOnChange($event)"
  ></goab-input>
</goab-form-item>

<goab-form-item label="50ch">
  <goab-date-picker
    (onChange)="dateOnChange($event)"
    name="item"
    [value]="item"
    width="50ch"
  ></goab-date-picker>
</goab-form-item>
<goab-form-item label="Input with 50ch">
  <goab-input
    name="item"
    [value]="value"
    width="50ch"
    (onChange)="inputOnChange($event)"
  ></goab-input>
</goab-form-item>

<goab-form-item label="50px">
  <goab-date-picker
    (onChange)="dateOnChange($event)"
    name="item"
    [value]="item"
    width="50px"
  ></goab-date-picker>
</goab-form-item>
<goab-form-item label="Input with 50px">
  <goab-input
    name="item"
    [value]="value"
    width="50px"
    (onChange)="inputOnChange($event)"
  ></goab-input>
</goab-form-item>
