<h3>Issue 2410</h3>
<p>If the modal is too large and requires scrolling, when you open the modal, it auto opens in the middle of the modal, instead of at the top, which is what happens with Angular and is expected.</p>
<p>When opening the modal, the modal should always open at the top of the modal</p>

<goab-button (onClick)="openModal()">Show Modal</goab-button>
<goab-modal heading="Industry Description" [open]="open" [closable]="true" (onClose)="closeModal()">
  <h4>Business, building, and other support services</h4>
  <p>This industry is made up of two major sub industries:</p>
  <ol>
    <li>Management of companies and enterprises</li>
    <li>Administrative and support, waste management and remediation services</li>
  </ol>
  <h4>Management of companies and enterprises</h4>
  <p>This industry compprises:</p>
  <ol>
    <li>
      Legal entities engaged only in holding the securities of subsidiaries and
      affiliates for the purpose of owning a controlling interest or influencing the
      management decisions of these businesses, or
    </li>
    <li>
      Businesses primarily engaged in adminstering, overseeing, and managing other
      establishments of the company or enterprise and which may also hold the
      securities of their subsidiaries and affiliates.
    </li>
  </ol>
  <h4>Administrative and support, waste management and remediation services</h4>
  <p>This industry comprises of:</p>
  <ol>
    <li>
      Administrative and support services, estabilishments primarily engaged in
      activities such as administration, hiring, and placing personnel
    </li>
  </ol>
  <goab-button-group alignment="end" mt="l">
    <goab-button type="primary" (onClick)="closeModal()">
      I understand
    </goab-button>
  </goab-button-group>
</goab-modal>
