<goab-button (onClick)="onClick()">
  Show Modal
</goab-button>
<goab-modal heading="Are you sure you want to exit your application?" role="alertdialog" [open]="open">
  <goab-block gap="xl" direction="column">
    <form>
      <goab-form-item [formGroup]="form" label="Provice/territory">
        <goab-dropdown name="province" value="alberta" formControlName="province">
          <goab-dropdown-item label="Alberta" value="alberta"></goab-dropdown-item>
          <goab-dropdown-item label="BC" value="bc"></goab-dropdown-item>
          <goab-dropdown-item label="Manitoba" value="manitoba"></goab-dropdown-item>
          <goab-dropdown-item label="New Brunswick" value="new-brunswick"></goab-dropdown-item>
          <goab-dropdown-item label="Newfoundland and Labrador" value="newfoundland"></goab-dropdown-item>
          <goab-dropdown-item label="Nova Scotia" value="nova-scotia"></goab-dropdown-item>
          <goab-dropdown-item label="Ontario" value="ontario"></goab-dropdown-item>
          <goab-dropdown-item label="Prince Edward Island" value="prince-edward-island"></goab-dropdown-item>
          <goab-dropdown-item label="Quebec" value="quebec"></goab-dropdown-item>
          <goab-dropdown-item label="Saskatchewan" value="saskatchewan"></goab-dropdown-item>
        </goab-dropdown>
      </goab-form-item>
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
</p>
<goab-form-item [formGroup]="form" label="Provice/territory">
  <goab-dropdown name="province" value="alberta" formControlName="province">
    <goab-dropdown-item label="Alberta" value="alberta"></goab-dropdown-item>
    <goab-dropdown-item label="BC" value="bc"></goab-dropdown-item>
    <goab-dropdown-item label="Manitoba" value="manitoba"></goab-dropdown-item>
    <goab-dropdown-item label="New Brunswick" value="new-brunswick"></goab-dropdown-item>
    <goab-dropdown-item label="Newfoundland and Labrador" value="newfoundland"></goab-dropdown-item>
    <goab-dropdown-item label="Nova Scotia" value="nova-scotia"></goab-dropdown-item>
    <goab-dropdown-item label="Ontario" value="ontario"></goab-dropdown-item>
    <goab-dropdown-item label="Prince Edward Island" value="prince-edward-island"></goab-dropdown-item>
    <goab-dropdown-item label="Quebec" value="quebec"></goab-dropdown-item>
    <goab-dropdown-item label="Saskatchewan" value="saskatchewan"></goab-dropdown-item>
  </goab-dropdown>
</goab-form-item>
<p>        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

      </p>
      <goab-form-item [formGroup]="form" label="Street Address">
        <goab-input name="address" type="text" width="100%" formControlName="address"></goab-input>
      </goab-form-item>
      <goab-form-item [formGroup]="form" label="Suite or unit #">
        <goab-input name="suite" type="text" width="100%" formControlName="suite"></goab-input>
      </goab-form-item>
      <goab-form-item [formGroup]="form" label="City/town">
        <goab-input name="city" type="text" width="100%" formControlName="city"></goab-input>
      </goab-form-item>
      <goab-block direction="row">
        <goab-form-item [formGroup]="form" label="Provice/territory">
          <goab-dropdown name="province" value="alberta" formControlName="province">
            <goab-dropdown-item label="Alberta" value="alberta"></goab-dropdown-item>
            <goab-dropdown-item label="BC" value="bc"></goab-dropdown-item>
            <goab-dropdown-item label="Manitoba" value="manitoba"></goab-dropdown-item>
            <goab-dropdown-item label="New Brunswick" value="new-brunswick"></goab-dropdown-item>
            <goab-dropdown-item label="Newfoundland and Labrador" value="newfoundland"></goab-dropdown-item>
            <goab-dropdown-item label="Nova Scotia" value="nova-scotia"></goab-dropdown-item>
            <goab-dropdown-item label="Ontario" value="ontario"></goab-dropdown-item>
            <goab-dropdown-item label="Prince Edward Island" value="prince-edward-island"></goab-dropdown-item>
            <goab-dropdown-item label="Quebec" value="quebec"></goab-dropdown-item>
            <goab-dropdown-item label="Saskatchewan" value="saskatchewan"></goab-dropdown-item>
          </goab-dropdown>
        </goab-form-item>
        <goab-form-item [formGroup]="form" label="Postal Code">
          <goab-input name="postalCode" type="text" width="100%" formControlName="postalCode"></goab-input>
        </goab-form-item>
      </goab-block>
      <goab-form-item label="Item">
        <goab-date-picker (onChange)="dateOnChange($event)" name="item" value="Wed Apr 09 2025 11:07:04 GMT-0600 (Mountain Daylight Time)"></goab-date-picker>
      </goab-form-item>

    </form>
  </goab-block>
  <goab-button-group alignment="start" mt="2xl">
    <goab-button type="primary" (onClick)="onClick()">
      Submit and continue
    </goab-button>
    <goab-button type="secondary" (onClick)="onClick()">
      Cancel
    </goab-button>
  </goab-button-group>
  <goab-button-group alignment="end" mt="xl">
    <goab-button type="tertiary" (onClick)="onClick()">
      Cancel
    </goab-button>
    <goab-button type="primary" (onClick)="onClick()">
      Exit
    </goab-button>
  </goab-button-group>
</goab-modal>