<h2>Tooltip</h2>

<goa-tooltip content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
  <goa-icon type="information-circle" />
</goa-tooltip>
<div
  style="
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  "
>
  <goa-tooltip content="Trying some more long form text here to see how it's rendered">
    <goa-icon type="information-circle" />
  </goa-tooltip>
  <goa-tooltip content="{{ randomValue }}">
    <goa-icon type="information-circle" />
  </goa-tooltip>



  <div>
    <goa-tooltip content="Trying some more long form text here to see how it's rendered">
      <goa-icon type="information-circle" />
    </goa-tooltip>
  </div>

  <div>
    <goa-icon type="information-circle" />
  </div>

  <goa-tooltip content="This is a  tooltip" position="left">
    <goa-icon type="information-circle"></goa-icon>
  </goa-tooltip>
  <goa-tooltip content="This is a  tooltip" position="right">
    <goa-icon type="information-circle"></goa-icon>
  </goa-tooltip>

  <goa-tooltip content="This is a  tooltip" position="top">
    <goa-icon type="information-circle"></goa-icon>
  </goa-tooltip>
  <goa-tooltip content="This is a  tooltip" position="bottom">
    <goa-icon type="information-circle"></goa-icon>
  </goa-tooltip>
  <goa-tooltip
    content="This is a  tooltip with alignment"
    position="top"
    halign="left"
  >
    <goa-icon type="information-circle"></goa-icon>
  </goa-tooltip>
  <goa-tooltip
    content="This is a  tooltip with alignment"
    position="top"
    halign="right"
  >
    <goa-icon type="information-circle"></goa-icon>
  </goa-tooltip>
  <goa-tooltip
    content="This is a  tooltip with alignment"
    position="bottom"
    halign="left"
  >
    <goa-icon type="information-circle"></goa-icon>
  </goa-tooltip>
  <goa-tooltip
    content="This is a  tooltip with alignment"
    position="bottom"
    halign="right"
  >
    <goa-icon type="information-circle"></goa-icon>
  </goa-tooltip>
</div>
