<goa-two-column-layout maxcontentwidth="1400px" navcolumnwidth="30ch">
  <section slot="header">
    <goa-microsite-header type="alpha" level="alpha" version="UAT"></goa-microsite-header>
    <goab-app-header
      heading="Design Systems"
      maxcontentwidth="1500px"
      [fullMenuBreakpoint]="1700"
    >
      <a href="/get-started">Get started </a>
      <a href="/patterns">Patterns and templates</a>
      <a href="/components">Components</a>
      <a href="/design-tokens">Styles</a>
      <a href="/content/capitalization">Content</a>
      <a href="/support">Support</a>
      <a
        href="https://github.com/GovAlta/ui-components/issues/new/choose"
        target="_blank"
      >
        Report a bug
      </a>
      <a href="#">Support</a>
      <goa-app-header-menu heading="Tickets" leadingIcon="ticket">
        <a href="#">Cases</a>
        <a href="#">Payments</a>
        <a href="#">Outstanding</a>
      </goa-app-header-menu>
      <a href="#" className="interactive">Sign in</a>
    </goab-app-header>
  </section>

  <section slot="nav">
    <goab-side-menu>
      <goab-side-menu-group heading="Bugs">
        <goab-side-menu-group heading="Dropdown">
          <a routerLink="/bug-1734">Bug 1734</a>
          <a routerLink="/2003">Remove relative property</a>
          <a routerLink="/2789">Width rem and percentage</a>
        </goab-side-menu-group>

        <goab-side-menu-group heading="Checkbox">
          <a routerLink="/2365">Screen reader slotted content</a>
          <a routerLink="/1216">Checkbox with reveal slotted content</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="Radio">
          <a routerLink="/1216">Radio with reveal slotted content</a>
          <a routerLink="/2768">Dynamic disabled state</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="Modal">
          <a routerLink="/2466">Popover inside a scrolling modal</a>
          <a routerLink="/2415">Without heading modal</a>
          <a routerLink="/2410">Modal-2410</a>
          <a routerLink="/2829">Modal 2829 alert dialog</a>
        </goab-side-menu-group>

        <goab-side-menu-group heading="Badge">
          <a routerLink="/2513">Badge is out of alignment</a>
        </goab-side-menu-group>

        <goab-side-menu-group heading="Tabs">
          <a routerLink="/2433">Tabs issues</a>
          <a routerLink="/2471">Tab with initialTab is not working</a>
          <a routerLink="/2720">Change tab via link</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="Input">
          <a routerLink="/1219">Input date type iOS</a>
          <a routerLink="/2404">TrailingIcon rendering fix</a>
          <a routerLink="/1769">Autocomplete property</a>
          <a routerLink="/2409">Input width</a>
          <a routerLink="/2772">Text align</a>
          <a routerLink="/2789">Width rem and percentage</a>
        </goab-side-menu-group>

        <goab-side-menu-group heading="AppHeaderMenu">
          <a routerLink="/2662">AppHeaderMenu mobile not expand</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="Popover">
          <a routerLink="/2693">Button handles action vs args</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="Spacer">
          <a routerLink="/2455">spacer hspacing=fill</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="Form Stepper">
          <a routerLink="/2408">Form Stepper Not-started</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="Pagination">
          <a routerLink="/2395">Pagination trigger 2 times</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="File Upload">
          <a routerLink="/1849">File input case-sensitive accept</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="App Footer">
          <a routerLink="/1572">App Footer Tab index</a>
        </goab-side-menu-group>
        <goab-side-menu-group heading="Microsite Header">
          <a routerLink="/2939">Issue 2939 - Feedback Link Test</a>
        </goab-side-menu-group>
      </goab-side-menu-group>
      <goab-side-menu-group heading="Public Form">
        <a routerLink="/public-form">Public Form</a>
        <a routerLink="/support-order-details">Support Order Details</a>
        <a routerLink="/public-form-subform-example">Public Form SubForm Example</a>
        <a routerLink="/public-form-navigation">Navigation Test (Issue 1)</a>
        <a routerLink="/public-form-accessibility">Accessibility Test (Issue 2)</a>
        <a routerLink="/public-form/2827">Issue 2827</a>
        <a routerLink="/public-form/2827-subform">Issue 2827 Subform</a>
        <a routerLink="/support-order-details">Support Order Details</a>
      </goab-side-menu-group>
      <goab-side-menu-group heading="Components">
        <a routerLink="/badge-wrapper">Badge Wrapper</a>
        <a routerLink="/accordion"> Accordion </a>
        <a routerLink="/app-footer"> AppFooter </a>
        <a routerLink="/app-header"> App Header </a>
        <a routerLink="/badge"> Badge </a>
        <a routerLink="/button"> Button </a>
        <a routerLink="/button-group"> Button Group </a>
        <a routerLink="/callout"> Callout </a>
        <a routerLink="/checkbox"> Checkbox </a>
        <a routerLink="/chip"> Chip </a>
        <a routerLink="/circular-progress"> Circular Progress </a>
        <a routerLink="/container"> Container </a>
        <a routerLink="/date-picker">Date picker</a>
        <a routerLink="/divider"> Divider </a>
        <a routerLink="/drawer"> Drawer </a>
        <a routerLink="/dropdown"> Dropdown </a>
        <a routerLink="/detail"> Detail </a>
        <a routerLink="/file-upload"> File Upload </a>
        <a routerLink="/form-item"> Form Item </a>
        <a routerLink="/form-stepper"> Form Stepper </a>
        <a routerLink="/hero-banner"> Hero Banner </a>
        <a routerLink="/icon"> Icon </a>
        <a routerLink="/icon-button"> Icon Button </a>
        <a routerLink="/input"> Input </a>
        <a routerLink="/microsite-header"> Microsite header </a>
        <a routerLink="/modal"> Modal </a>
        <a routerLink="/notification-banner"> Notification Banner </a>
        <a routerLink="/paginate"> Pagination </a>
        <a routerLink="/popover"> Popover </a>
        <a routerLink="/radio"> Radio </a>
        <a routerLink="/side-menu"> Side Menu </a>
        <a routerLink="/skeleton"> Skeleton </a>
        <a routerLink="/table"> Table </a>
        <a routerLink="/temporary-notification"> Temporary Notification </a>
        <a routerLink="/text"> Text </a>
        <a routerLink="/textarea"> TextArea </a>
        <a routerLink="/tooltip"> Tooltip </a>
        <a routerLink="/tabs"> Tabs </a>
      </goab-side-menu-group>
      <goa-side-menu-group heading="Utils">
        <a routerLink="/spacing"> Spacing </a>
        <a routerLink="/grid"> Grid </a>
        <a routerLink="/styles"> Styles </a>
      </goa-side-menu-group>
      <goa-side-menu-group heading="Layouts">
        <a routerLink="/column-layout">Column layout</a>
        <a routerLink="/two-column-layout"> Two Column Layout </a>
        <a routerLink="/three-column-layout"> Three Column Layout </a>
      </goa-side-menu-group>
    </goab-side-menu>
  </section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <goa-app-footer slot="footer" maxcontentwidth="1400px"></goa-app-footer>
</goa-two-column-layout>
