<goab-circular-progress
  variant="fullscreen"
  size="large"
  message="Loading form..."
  [visible]="showSpinner"
></goab-circular-progress>

<goab-public-form
  name="dependents-example"
  [status]="formStatus"
  (onComplete)="onComplete()"
  (onInit)="init($event)"
  (onStateChange)="updateState($event)"
  >
  <goab-public-form-page
    id="household-size"
    heading="How many people currently live in your household?"
    buttonText="Save and continue"
    (onContinue)="onPageChange($event, 'household-size')"
    >
    <goab-fieldset>
      <goab-form-item name="How many people currently live in your household?">
        <goab-input name="household-people"></goab-input>
      </goab-form-item>
    </goab-fieldset>
  </goab-public-form-page>

  <goab-public-form-page
    id="has-dependents"
    heading="Do you have any dependents under the age of 18?"
    buttonText="Save and continue"
    (onContinue)="onPageChange($event, 'has-dependents')"
    >
    <goab-fieldset>
      <goab-form-item name="Do you have any dependents under the age of 18?">
        <goab-radio-group name="dependents">
          <goab-radio-item value="yes" label="Yes"></goab-radio-item>
          <goab-radio-item value="no" label="No"></goab-radio-item>
        </goab-radio-group>
      </goab-form-item>
    </goab-fieldset>
  </goab-public-form-page>

  <!-- Dependents Subform -->
  <goab-public-form-page
    id="dependents-subform"
    type="multistep"
    (onContinue)="onPageChange($event, 'dependents-subform')"
    >
    <goab-public-subform
      id="dependents-subform"
      name="dependents-subform"
      (onInit)="_dependentsFormController.initList($event)"
      (onStateChange)="updateDependentsState($event)"
      >
      <goab-public-subform-index
        heading="Add dependants under the age of 18"
        actionButtonText="Add another dependant"
        [buttonVisibility]="continueButtonVisibility"
        >
        <goab-text mb="l">
          Please provide information about any dependents under the age of 18 for whom you are responsible.
          Dependents include your biological or adopted children, stepchildren, and any other minors in your care.
          This information is necessary to determine eligibility for various benefits and services provided by the government.
          Ensure that you enter accurate details for each dependent, as this will help us process your application more efficiently and provide you with the appropriate support.
        </goab-text>

        @if (dependents().length > 0) {
          <goab-table width="100%" mb="xl">
            <thead>
              <tr>
                <th>Full name</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (item of dependents(); track item; let i = $index) {
                <tr>
                  <td>{{ item["fullName"] }}</td>
                  <td class="goa-table-number-header">
                    <goab-button (onClick)="editDependent(i)">Edit</goab-button>
                  </td>
                  <td class="goa-table-number-header" style="width: 0px">
                    <goab-button (onClick)="showModal(i)">Remove</goab-button>
                  </td>
                </tr>
              }
            </tbody>
          </goab-table>
        }
      </goab-public-subform-index>

      <goab-public-form-page
        id="dependent-info"
        sectionTitle="Dependent's profile"
        heading="Dependent information"
        buttonText="Continue"
        (onContinue)="onDependentPageChange($event, 'dependent-info')"
        >
        <goab-fieldset>
          <goab-form-item label="Full name">
            <goab-input name="fullName"></goab-input>
          </goab-form-item>
        </goab-fieldset>
      </goab-public-form-page>

      <goab-public-form-page
        id="dependent-summary"
        heading="Review dependent information"
        sectionTitle="Dependent's profile"
        type="summary"
        buttonText="Back to list"
        >
        <goab-public-form-summary></goab-public-form-summary>
      </goab-public-form-page>

    </goab-public-subform>
  </goab-public-form-page>

  <goab-public-form-page
    id="health-conditions"
    heading="Do any dependants have long-term health conditions or disabilities?"
    buttonText="Save and continue"
    (onContinue)="onPageChange($event, 'health-conditions')"
    >
    <goab-fieldset>
      <goab-form-item name="Do any dependants have long-term health conditions or disabilities?">
        <goab-radio-group name="dependents-health">
          <goab-radio-item value="yes" label="Yes"></goab-radio-item>
          <goab-radio-item value="no" label="No"></goab-radio-item>
        </goab-radio-group>
      </goab-form-item>
    </goab-fieldset>
  </goab-public-form-page>

  <goab-public-form-page
    id="health-details"
    heading="Please provide details to help us understand any specific needs or accommodations."
    buttonText="Save and continue"
    (onContinue)="onPageChange($event, 'health-details')"
    >
    <goab-fieldset>
      <goab-form-item name="Please provide details to help us understand any specific needs or accommodations.">
        <goab-textarea
          name="health-details"
          [maxCount]="100"
          placeholder="Enter details about health conditions or accommodations needed..."
        ></goab-textarea>
      </goab-form-item>
    </goab-fieldset>
  </goab-public-form-page>

  <goab-public-form-page
    id="summary"
    type="summary"
    heading="Review your information"
    buttonText="Review and Submit"
    >
    <goab-public-form-summary></goab-public-form-summary>
  </goab-public-form-page>

</goab-public-form>

<goab-modal heading="Delete this dependent?" role="alertdialog" [open]="showDeleteModal">
  <goab-button-group alignment="end" mt="xl">
    <goab-button type="tertiary" (click)="onDeleteCancel()">
      Cancel
    </goab-button>
    <goab-button type="primary" (click)="onDeleteConfirm()">
      Delete
    </goab-button>
  </goab-button-group>
</goab-modal>
