<goa-callout type="important">
  Details on when a digital service was accessed are only available after the alberta.ca account update on July 24th, 2024.
</goa-callout>

<goa-button (_click)="toggleDrawer()">Open Drawer</goa-button>

<goax-drawer [open]="showDrawer" (_close)="toggleDrawer()" anchor="bottom" heading="Menu">
  <goa-accordion heading="Heading" headingsize="medium">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
  </goa-accordion>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec pellentesque libero. Integer luctus pulvinar nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras tempus sem ut posuere interdum. Maecenas augue justo, condimentum eget faucibus a, ornare id enim. Integer dui purus, finibus ac purus id, porta suscipit sem. Vivamus quis justo arcu. Cras malesuada nunc magna, sed dignissim nisl consectetur sed. Proin dapibus est nec ornare dictum. Sed tortor metus, imperdiet sagittis lobortis in, vehicula et enim. Phasellus mollis dapibus tempus. Phasellus sollicitudin faucibus libero ut semper. Vivamus iaculis vulputate volutpat.
</goax-drawer>
