<goab-form-item [formGroup]="form" label="How would you like to be contacted?">
  <goab-checkbox formControlName="emailContactMethod" text="Email" [reveal]="phoneNumberReveal">
    <ng-template #phoneNumberReveal>
      <goab-form-item label="Phone number">
        <goab-input name="phone" formControlName="phoneNumber"></goab-input>
      </goab-form-item>
    </ng-template>
  </goab-checkbox>
  <goab-checkbox formControlName="phoneContactMethod" text="Phone" [reveal]="emailReveal">
    <ng-template #emailReveal>
      <goab-form-item label="Email address">
        <goab-input name="email" formControlName="emailAddress"></goab-input>
      </goab-form-item>
    </ng-template>
  </goab-checkbox>
  <goab-checkbox formControlName="textContactMethod" text="Text message" [reveal]="textContactMethodReveal">
    <ng-template #textContactMethodReveal>
      <goab-form-item label="Mobile phone number">
        <goab-input name="phone" formControlName="phoneNumber"></goab-input>
      </goab-form-item>
    </ng-template>
  </goab-checkbox>
</goab-form-item>
