<goab-drawer
  [open]="open"
  [position]="form.value.position"
  heading="Filters"
  [actions]="actionSlot"
  maxSize="500px"
  (onClose)="closeDrawer()"
>
  <goab-form-item label="Entry status">
    <goab-checkbox [checked]="" text="Drafted"></goab-checkbox>
    <goab-checkbox [checked]="" text="Completed"></goab-checkbox>
  </goab-form-item>

  <goab-form-item label="Assigned to - Region">
    <goab-checkbox [checked]="" text="Calgary"></goab-checkbox>
    <goab-checkbox [checked]="" text="Central"></goab-checkbox>
    <goab-checkbox [checked]="" text="Edmonton"></goab-checkbox>
    <goab-checkbox [checked]="" text="North"></goab-checkbox>
    <goab-checkbox [checked]="" text="South"></goab-checkbox>
  </goab-form-item>

    <goab-form-item label="Assigned to">
      <goab-dropdown value="" (onChange)="onChangeAssignedTo($event)">
        <goab-dropdown-item value="red" label="Red"></goab-dropdown-item>
        <goab-dropdown-item value="red1" label="Red1"></goab-dropdown-item>
        <goab-dropdown-item value="red2" label="Red2"></goab-dropdown-item>
        <goab-dropdown-item value="red3" label="Red3"></goab-dropdown-item>
      </goab-dropdown>
    </goab-form-item>

  <goab-form-item label="Taken by - Region">
    <goab-checkbox [checked]="" text="Calgary"></goab-checkbox>
    <goab-checkbox [checked]="" text="Central"></goab-checkbox>
    <goab-checkbox [checked]="" text="Edmonton"></goab-checkbox>
    <goab-checkbox [checked]="" text="North"></goab-checkbox>
    <goab-checkbox [checked]="" text="South"></goab-checkbox>
  </goab-form-item>
  <goab-form-item label="Date taken">
    <goab-radio-group
      name="date-taken"
      [value]="dateTaken"
      (onChange)="changeDateTaken($event)"
    >
      <goab-radio-item value="24" label="Last 24 hours"></goab-radio-item>
      <goab-radio-item value="72" label="Label 72 hours"></goab-radio-item>
    </goab-radio-group>
  </goab-form-item>

    <ng-template #actionSlot>
      <goab-button (onClick)="closeDrawer()">Apply</goab-button>
    </ng-template>
</goab-drawer>

<goab-drawer
  [open]="openNoActions"
  [position]="form.value.position"
  (onClose)="closeDrawer()"
  [heading]="slotHeading"
>
  <ng-template #slotHeading>
    <goab-badge type="information" content="Heading is a slot"></goab-badge>
  </ng-template>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</goab-drawer>

<goab-form-item [formGroup]="form" label="Has Actions Slot">
  <goab-radio-group name="hasActionsSlot" formControlName="hasAction">
    <goab-radio-item value="1" label="Has actions slot"></goab-radio-item>
    <goab-radio-item value="2" label="Not have actions slot"></goab-radio-item>
  </goab-radio-group>
</goab-form-item>

<goab-form-item [formGroup]="form" label="Position" mt="xl">
  <goab-radio-group name="position" formControlName="position">
    <goab-radio-item value="left" label="Left"></goab-radio-item>
    <goab-radio-item value="right" label="Right"></goab-radio-item>
    <goab-radio-item value="bottom" label="Bottom"></goab-radio-item>
  </goab-radio-group>
</goab-form-item>

<goab-button-group mt="xl">
  <goab-button (onClick)="openDrawer()">Open Drawer</goab-button>
</goab-button-group>
