<goab-tabs (onChange)="tabsOnChange($event)">
  <goab-tab heading="Tab Item 1">
    Tab Item 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </goab-tab>
  <goab-tab heading="Tab Item 2">
    Tab Item 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </goab-tab>
  <goab-tab heading="Tab Item 3">
    Tab Item 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </goab-tab>
</goab-tabs>
